section.pb-4
    .container
        p.h3.mb-2 Новости и статьи
        .row
            .col-4.col-lg-12.col-md-12.mb-lg-3
                a.news-preview.news-preview_highlight(href="text.html" style="background-image: url('../img/demo/project-full.jpg');")
                    .news-preview_highlight__heading Кто, как и&nbsp;кому проиграл от&nbsp;льготной ипотеки?
            .col-4.col-lg-6.col-md-12.mb-md-3
                .news-preview.mb-2
                    a.news-preview__heading(href="text.html") Кто переезжал в&nbsp;Москву до&nbsp;коронакризиса и&nbsp;после?
                    .news-preview__intro Жители Чукотки и&nbsp;Алтая покупать жилье в&nbsp;столице и&nbsp;переезжать не&nbsp;планируют, а&nbsp;вот&nbsp;ниж…
                    .news-preview__img(style="background-image: url('../img/demo/project-1.jpg');")
                .news-preview.mb-2
                    a.news-preview__heading(href="text.html") В&nbsp;России могут ввести эталонные тарифы на&nbsp;теплоснабжение
                    .news-preview__intro Жители Чукотки и&nbsp;Алтая покупать жилье в&nbsp;столице и&nbsp;переезжать не&nbsp;планируют, а&nbsp;вот&nbsp;ниж…
                    .news-preview__img(style="background-image: url('../img/demo/project-2.jpg');")
                .news-preview.mb-2
                    a.news-preview__heading(href="text.html") В&nbsp;Петербурге построят небоскреб. Второй по&nbsp;высоте в&nbsp;мире
                    .news-preview__intro Жители Чукотки и&nbsp;Алтая покупать жилье в&nbsp;столице и&nbsp;переезжать не&nbsp;планируют, а&nbsp;вот&nbsp;ниж…
                    .news-preview__img(style="background-image: url('../img/demo/project-3.jpg');")
                a.link-arrow(href="#") 
                    <svg class="link-arrow__icon" width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.61405 7.96572e-06L5.52642 4.49998L0.61405 9L0 8.43743L4.29834 4.49998L0 0.5625L0.61405 7.96572e-06ZM4.08758 0L9 4.49998L4.08758 9L3.47358 8.43743L7.77192 4.49998L3.47358 0.5625L4.08758 0Z" />
                    </svg>
                    span.link-arrow__body Все публикации
            .col-4.col-lg-6.col-md-12
                .news-preview.news-preview_list.mb-2
                    .news-preview__date 26 мая
                    a.news-preview__heading(href="text.html") Кто переезжал в&nbsp;Москву до&nbsp;коронакризиса и&nbsp;после?
                .news-preview.news-preview_list.mb-2
                    .news-preview__date 12 апреля
                    a.news-preview__heading(href="text.html") В&nbsp;России могут ввести эталонные тарифы на&nbsp;теплоснабжение
                .news-preview.news-preview_list.mb-2
                    .news-preview__date 11 апреля
                    a.news-preview__heading(href="text.html") В&nbsp;Петербурге построят небоскреб. Второй по&nbsp;высоте в&nbsp;мире
                .news-preview.news-preview_list.mb-2
                    .news-preview__date 2 апреля
                    a.news-preview__heading(href="text.html") Кто переезжал в&nbsp;Москву до&nbsp;коронакризиса и&nbsp;после?
                .news-preview.news-preview_list.mb-2
                    .news-preview__date 16 марта
                    a.news-preview__heading(href="text.html") В&nbsp;России могут ввести эталонные тарифы на&nbsp;теплоснабжение
                .news-preview.news-preview_list.mb-2
                    .news-preview__date 18 марта
                    a.news-preview__heading(href="text.html") В&nbsp;Петербурге построят небоскреб. Второй по&nbsp;высоте в&nbsp;мире
                a.link-arrow(href="#") 
                    <svg class="link-arrow__icon" width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.61405 7.96572e-06L5.52642 4.49998L0.61405 9L0 8.43743L4.29834 4.49998L0 0.5625L0.61405 7.96572e-06ZM4.08758 0L9 4.49998L4.08758 9L3.47358 8.43743L7.77192 4.49998L3.47358 0.5625L4.08758 0Z" />
                    </svg>
                    span.link-arrow__body Все новости