.contact-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: map-get($map: $spacers, $key: 1);

    &__heading{
        font-weight: $font-weight-base;
        color: $secondary;
    }
}

// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .contact-list{
        grid-template-columns: 1fr;
        grid-gap: 0;

        &__heading{
            padding-top: map-get($map: $spacers, $key: 1);
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
}
// < 420px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
}