@charset "UTF-8";
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 14px 28px;
  border-radius: 2px;
  min-width: 110px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn_additional {
  padding: 6px 12px;
}

.btn_action {
  border: 3px solid #E2B359;
  background: #2F3B41;
  color: #FAFAFA;
}

.btn_action:hover, .btn_action:focus {
  background: #1E282D;
  color: #FAFAFA;
}

.btn_secondary {
  background: #054B4B;
  color: #FAFAFA;
}

.btn_secondary:hover, .btn_secondary:focus {
  background: #146565;
  color: #FAFAFA;
}

.btn_modal {
  border: 3px solid #FAFAFA;
  background: #2F3B41;
  color: #FAFAFA;
}

.btn_modal:hover, .btn_modal:focus {
  border-color: #E4E5E5;
  color: #FAFAFA;
}

.btn_networks {
  padding: 6px;
  background: #054B4B;
  color: #FAFAFA;
  fill: #FAFAFA;
  min-width: 1px;
}

.btn_networks:hover, .btn_networks:focus {
  background: #146565;
  color: #FAFAFA;
  fill: #FAFAFA;
}

.input {
  font-size: 12px;
  line-height: 16px;
  padding: 14px 28px;
  border: 1px solid #1E282D;
  background: #1E282D;
  color: #FAFAFA;
}

.input::-webkit-input-placeholder {
  color: #9EB6B6;
  -webkit-transition: .4s;
  transition: .4s;
}

.input::-moz-placeholder {
  color: #9EB6B6;
  -moz-transition: .4s;
  transition: .4s;
}

.input:-ms-input-placeholder {
  color: #9EB6B6;
  -ms-transition: .4s;
  transition: .4s;
}

.input::-ms-input-placeholder {
  color: #9EB6B6;
  -ms-transition: .4s;
  transition: .4s;
}

.input::placeholder {
  color: #9EB6B6;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.input:focus {
  border: 1px solid #1E282D;
  outline: none;
}

.input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input:focus::-moz-placeholder {
  opacity: 0;
}

.input:focus:-ms-input-placeholder {
  opacity: 0;
}

.input:focus::-ms-input-placeholder {
  opacity: 0;
}

.input:focus::placeholder {
  opacity: 0;
}

.input_line {
  width: 100%;
  margin-bottom: 10px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 20px;
  cursor: pointer;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label:before {
  border-color: #E2B359;
  background: #E2B359 url("../img/icon/checkbox-gold.svg") no-repeat center/cover;
}

.checkbox__input:disabled + .checkbox__label {
  -webkit-filter: opacity(0.75);
  filter: opacity(0.75);
  cursor: not-allowed;
  color: #9EB6B6;
}

.checkbox__label {
  position: relative;
  width: 100%;
  margin: 0;
  padding-left: 35px;
  line-height: 1.4;
  cursor: inherit;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.checkbox__label:before {
  content: '';
  display: block;
  border-radius: 2px;
  border: 1px solid #2F3B41;
  background: #FAFAFA;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: calc( 50% - 10px);
}

.checkbox:hover {
  color: #E2B359;
}

.checkbox--disabled {
  -webkit-filter: opacity(0.75);
  filter: opacity(0.75);
  cursor: not-allowed;
  border-color: #9EB6B6;
  color: #9EB6B6;
}

.checkbox--disabled label {
  border-color: #9EB6B6;
}

.checkbox--disabled:hover {
  color: #9EB6B6;
}

.checkbox + .checkbox {
  margin-top: 10px;
}

.checkbox_filter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 4px 2px;
}

.checkbox_filter__input:checked + .checkbox_filter__label {
  border-color: #054B4B;
  background: #054B4B;
  color: #FAFAFA;
}

.checkbox_filter__input:disabled + .checkbox_filter__label {
  -webkit-filter: opacity(0.75);
  filter: opacity(0.75);
  cursor: not-allowed;
  color: #9EB6B6;
  border-color: #9EB6B6;
}

.checkbox_filter__label {
  text-align: center;
  border-radius: 2px;
  border: 1px solid #1E282D;
  padding: 0 8px;
  margin-bottom: 0;
  line-height: 24px;
  white-space: nowrap;
  cursor: inherit;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.checkbox_filter__label:before {
  display: none;
}

.checkbox_filter__label:hover {
  border-color: #9EB6B6;
}

.checkbox_filter:hover {
  color: #9EB6B6;
}

.checkbox_filter + .checkbox_filter {
  margin-top: 4px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 20px;
  width: 100%;
  cursor: pointer;
}

.radio__input {
  display: none;
}

.radio__input:checked + .radio__label:after {
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.radio__label {
  position: relative;
  line-height: 1.4;
  padding-left: 35px;
  margin: 0;
  cursor: inherit;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.radio__label:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #E4E5E5;
}

.radio__label:after {
  content: '';
  display: block;
  position: absolute;
  left: 6px;
  top: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #054B4B;
  -webkit-filter: opacity(0);
  filter: opacity(0);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.radio:hover {
  color: #E2B359;
}

.radio--disabled {
  -webkit-filter: opacity(0.75);
  filter: opacity(0.75);
  cursor: not-allowed;
  color: #9EB6B6;
}

.radio--disabled:hover {
  color: #9EB6B6;
}

.radio + .radio {
  margin-top: 10px;
}

.breadcrumbs {
  color: #9EB6B6;
  font-size: 10px;
}

.breadcrumbs__link {
  color: #9EB6B6;
}

.breadcrumbs__here {
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.breadcrumbs__sep {
  margin: 0 4px;
}

table,
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table thead, table__head,
.table thead,
.table__head {
  background: #1E282D;
  font-weight: 700;
}

table tr, table__row,
.table tr,
.table__row {
  border-bottom: 1px solid #1E282D;
}

table td, table__td,
.table td,
.table__td {
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.element__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 54px;
  flex: 0 0 54px;
  max-width: 54px;
}

.element__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  max-width: 40px;
}

.element__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 15px;
  line-height: 1.2;
}

.element__heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.element_numbered {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #434B50;
  border-radius: 2px;
  padding: 30px;
  position: relative;
}

.element_numbered__num {
  font-size: 100px;
  font-weight: 700;
  line-height: 1em;
  text-align: right;
  color: #2F3B41;
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 0;
}

.element_numbered__content {
  position: relative;
  z-index: 1;
  width: 280px;
  max-width: 100%;
}

.element_advantage {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #434B50;
  border-radius: 2px;
  padding: 30px;
}

.element_disabled {
  opacity: .4;
}

.project-preview__img {
  max-width: 100%;
}

.project-preview__heading {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.project-preview__heading_full {
  font-size: 32px;
}

.project-preview__intro {
  color: #9EB6B6;
  line-height: 1.2;
  margin-bottom: 30px;
}

.project-preview__chars {
  display: grid;
  grid-gap: 15px;
  color: #9EB6B6;
  grid-template-columns: repeat(2, minmax(auto, 120px));
}

.project-preview_link {
  text-decoration: none;
}

.project-preview_link:hover, .project-preview_link:focus {
  text-decoration: none;
}

.project-preview_full__heading {
  font-size: 32px;
  margin-bottom: 30px;
}

.project-preview_full__content {
  padding-left: 30px;
}

.project-preview_full__intro {
  color: #9EB6B6;
  margin-bottom: 30px;
}

.project-preview_full__chars {
  display: grid;
  grid-gap: 15px;
  color: #9EB6B6;
  grid-template-columns: repeat(3, minmax(auto, 120px));
}

@media all and (max-width: 576px) {
  .project-preview_full__heading {
    font-size: 18px;
  }
  .project-preview_full__content {
    padding-left: 0px;
  }
  .project-preview_full__chars {
    grid-template-columns: repeat(2, minmax(auto, 120px));
  }
}

.project-category {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image content";
  min-height: 200px;
}

.project-category__content {
  background: #434B50;
  padding: 30px;
  grid-area: content;
}

.project-category__image {
  background: no-repeat center / cover;
  grid-area: image;
}

.project-category__heading {
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 10px;
}

.project-category__object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.project-category__object-item {
  margin-right: 10px;
}

.project-category__object-count {
  color: #9EB6B6;
  font-size: 10px;
  white-space: nowrap;
}

.project-category__object:hover, .project-category__object:focus {
  text-decoration: none;
}

.project-category_reverse {
  grid-template-areas: "content image";
}

@media all and (max-width: 1440px) {
  .project-category__object {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media all and (max-width: 1024px) {
  .project-category:nth-child(2n+1) {
    grid-template-areas: "image content";
  }
  .project-category:nth-child(2n) {
    grid-template-areas: "content image";
  }
}

@media all and (max-width: 576px) {
  .project-category {
    grid-template-columns: 1fr;
    grid-template-areas: "image" "content";
  }
  .project-category__image {
    height: 180px;
  }
}

.project-details {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #1E282D;
}

.project-details_last {
  padding-bottom: 0;
  border-bottom: none;
}

.project-details__gallery {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.project-details__gallery-img_first {
  grid-column-start: 1;
  grid-column-end: 4;
}

.project-details__gallery-img_last {
  position: relative;
}

.project-details__gallery-img_last:before {
  content: 'Ещё фото';
  text-align: center;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 59, 65, 0.5);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.project-details__gallery-img_last:hover:before {
  background-color: rgba(47, 59, 65, 0.7);
}

.project-details__slider {
  overflow: hidden;
}

.project-details__thumbs {
  margin-top: 15px;
}

.project-details__thumbs .swiper-slide {
  -webkit-filter: opacity(0.7);
  filter: opacity(0.7);
}

.project-details__thumbs .swiper-slide-thumb-active {
  -webkit-filter: opacity(1);
  filter: opacity(1);
  border: 4px solid #E2B359;
}

.project-details__heading {
  color: #E2B359;
}

.project-details__heading_inside {
  color: #FAFAFA;
  margin-bottom: 30px;
}

.project-details__time {
  color: #9EB6B6;
}

.project-details__sep {
  color: #9EB6B6;
  margin: 0 8px;
}

.project-details__address {
  color: #9EB6B6;
}

.project-details__intro {
  padding: 30px 0;
  border-bottom: 1px solid #1E282D;
}

.project-details__chars {
  margin-top: 30px;
  display: grid;
  grid-gap: 15px;
  color: #9EB6B6;
  grid-template-columns: repeat(4, minmax(auto, 120px));
}

.project-details__chars_inside {
  grid-template-columns: repeat(2, minmax(auto, 180px));
}

.project-details__chars_around {
  grid-template-columns: repeat(auto-fit, minmax(auto, 180px));
}

.project-details__price {
  margin-bottom: 5px;
}

.project-details__price-per-meter {
  color: #9EB6B6;
  line-height: 1.2;
}

.project-details__dev {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-details__dev-name {
  font-weight: 700;
  padding-left: 15px;
}

.project-details__dev:hover {
  text-decoration: none;
}

.project-details__list {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 200px 1fr;
}

@media all and (max-width: 1440px) {
  .project-details__chars {
    grid-template-columns: repeat(2, minmax(auto, 120px));
  }
}

.project-details_inside {
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.project-details_inside__sidebar {
  position: sticky;
  left: 0;
  top: 30px;
  padding: 30px;
  background-color: #434B50;
}

.project-details_inside__mobile-price {
  padding: 30px;
  background-color: #434B50;
}

.project-details_inside__content {
  padding: 30px;
  background-color: #434B50;
}

.project-details_inside__map {
  background-color: #1E282D;
  height: 200px;
}

.project-details_inside__apart {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr repeat(3, 180px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-details_inside__apart_toggle {
  grid-template-columns: 1fr repeat(3, 180px) 45px;
  border-bottom: 1px solid #1E282D;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.project-details_inside__apart_toggle:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.project-details_inside__form {
  padding: 30px 0;
  border-top: 1px solid #1E282D;
  border-bottom: 1px solid #1E282D;
}

.project-details_inside__dev {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #1E282D;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 60px 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-details_inside__dev:hover {
  text-decoration: none;
  color: #FAFAFA;
}

.project-details_inside__dev-name {
  margin-bottom: 5px;
  line-height: 1.4;
}

.project-details_inside__dev-intro {
  line-height: 1.4;
}

@media all and (max-width: 1440px) {
  .project-details_inside__sidebar {
    padding: 15px;
  }
  .project-details_inside__dev {
    grid-template-columns: 40px 1fr;
  }
}

@media all and (max-width: 768px) {
  .project-details_inside__apart {
    grid-template-columns: 1fr 80px repeat(2, 120px);
  }
  .project-details_inside__apart_toggle {
    grid-template-columns: 1fr 80px repeat(2, 120px) 45px;
  }
}

@media all and (max-width: 576px) {
  .project-details_inside__dev {
    grid-template-columns: 60px 1fr;
  }
  .project-details_inside__apart {
    grid-template-columns: repeat(3, 1fr);
  }
  .project-details_inside__apart_toggle {
    grid-template-columns: 1fr repeat(3, 80px) 45px;
  }
}

@media all and (max-width: 420px) {
  .project-details_inside__apart {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-details_inside__apart_toggle {
    grid-template-columns: 1fr repeat(2, 180px);
  }
}

.news-preview {
  display: grid;
  grid-template-columns: 1fr 124px;
  grid-gap: 10px;
  grid-template-areas: "heading image" "intro image";
}

.news-preview__date {
  color: #9EB6B6;
  grid-area: date;
}

.news-preview__heading {
  font-weight: 700;
  line-height: 1.2;
  grid-area: heading;
  padding-right: 10px;
}

.news-preview__intro {
  line-height: 1.2;
  color: #9EB6B6;
  grid-area: intro;
  padding-right: 10px;
}

.news-preview__img {
  width: 100%;
  height: 90px;
  background: no-repeat center / cover;
  grid-area: image;
}

.news-preview_list {
  grid-template-columns: 80px 1fr;
  grid-gap: 10px;
  grid-template-areas: "date heading";
}

.news-preview_highlight {
  display: block;
  position: relative;
}

.news-preview_highlight:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 75%;
  background-color: rgba(30, 40, 45, 0.6);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  z-index: 1;
}

.news-preview_highlight:hover, .news-preview_highlight:focus {
  color: #FAFAFA;
}

.news-preview_highlight:hover:after, .news-preview_highlight:focus:after {
  background-color: rgba(30, 40, 45, 0.8);
}

.news-preview_highlight__heading {
  position: absolute;
  top: 45px;
  left: 45px;
  z-index: 11;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}

@media all and (max-width: 1024px) {
  .news-preview_highlight:after {
    padding-bottom: 40%;
  }
}

@media all and (max-width: 768px) {
  .news-preview_highlight__heading {
    top: 30px;
    left: 30px;
  }
  .news-preview_highlight:after {
    padding-bottom: 75%;
  }
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-bottom: 45px;
  margin-right: 30px;
}

.slider__controls-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.slider__controls-item {
  color: #9EB6B6;
  border: none;
  border-left: 4px solid;
  border-color: inherit;
  margin-bottom: 10px;
  padding: 0px 0px 0px 15px;
  cursor: pointer;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.slider__controls-item:hover {
  color: #FAFAFA;
}

.slider__controls-item--active {
  color: #E2B359;
  pointer-events: none;
}

.slider__controls-icon {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-top: 30px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 64px);
}

.slider__controls-arrow {
  cursor: pointer;
}

.slider__controls-arrow path {
  fill: #9EB6B6;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.slider__controls-arrow:hover path {
  fill: #E2B359;
}

.slider__content {
  width: 410px;
  max-width: 100%;
}

.slider__item {
  display: none;
  height: 100%;
}

.slider__item--active {
  display: block;
  -webkit-animation: slide_show 0.2s linear;
  animation: slide_show 0.2s linear;
}

.slider__photo {
  position: relative;
  width: 100%;
}

.slider__photo:after {
  content: '';
  display: block;
  width: 100%;
  padding-top: 120%;
}

.slider__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.slider__text {
  padding: 30px 60px;
  background: #434B50;
  width: 500px;
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: 90px;
  z-index: 11;
}

@-webkit-keyframes slide_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media all and (max-width: 1440px) {
  .slider__controls {
    padding-bottom: 15px;
  }
  .slider__text {
    bottom: 45px;
  }
}

@media all and (max-width: 768px) {
  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .slider__controls {
    width: 100%;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .slider__controls-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .slider__controls-icon {
    display: none;
  }
  .slider__content {
    position: relative;
    margin-left: auto;
    width: 100%;
  }
  .slider__text {
    top: 45px;
    bottom: auto;
  }
  .slider__photo {
    width: 400px;
    margin-left: auto;
  }
}

@media all and (max-width: 576px) {
  .slider__controls-text {
    grid-template-columns: repeat(2, 1fr);
  }
  .slider__photo {
    width: 100%;
  }
  .slider__text {
    position: unset;
    padding: 30px;
  }
}

@media all and (max-width: 420px) {
  .slider__controls-text {
    grid-template-columns: 1fr;
  }
}

.swiper-container_projects {
  padding-top: 30px;
  overflow: visible;
  overflow-x: clip;
}

.swiper-container_elites {
  padding-top: 30px;
  overflow: visible;
  overflow-x: clip;
}

.swiper-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.swiper-slide {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.swiper-button {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

.swiper-button svg {
  fill: #9EB6B6;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.swiper-button:hover svg {
  fill: #E2B359;
}

.swiper-button_next {
  right: 0;
}

.swiper-button_prev {
  right: 74px;
}

.swiper-button-disabled {
  opacity: .4;
  cursor: not-allowed;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list__item {
  margin-bottom: 0;
}

.list_recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 15px;
}

.list_recommend__heading {
  color: #E2B359;
}

.list_recommend__sep {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-bottom: 1px dotted #9EB6B6;
  margin: 0 15px;
}

.list_recommend__count {
  color: #9EB6B6;
}

.list_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.list_check__item {
  padding-left: 50px;
  padding-right: 15px;
  background: url("../img/icon/checkbox-gold.svg") no-repeat 15px center/20px;
  min-width: 200px;
  max-width: 25%;
  line-height: 1.4;
  margin-bottom: 10px;
}

@media all and (max-width: 768px) {
  .list_check__item {
    padding-left: 40px;
    background: url("../img/icon/checkbox-gold.svg") no-repeat 15px center/14px;
    min-width: 220px;
    max-width: 50%;
  }
}

.toggle {
  padding: 15px 0;
  border-top: 1px solid #1E282D;
  border-bottom: 1px solid #1E282D;
}

.toggle__title {
  position: relative;
  padding-right: 60px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.toggle__title:after {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: url("../img/icon/chevron.svg");
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.toggle__title--active {
  -webkit-filter: opacity(0.4);
  filter: opacity(0.4);
}

.toggle__title--active:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.toggle__content {
  display: none;
  padding: 15px 0 0;
}

.toggle + .toggle {
  border-top: none;
}

.pagination {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
}

.pagination__link {
  font-weight: 700;
  color: #E2B359;
}

.pagination__link_here {
  font-weight: 400;
  color: #9EB6B6;
}

.grid {
  display: grid;
  grid-gap: 30px;
}

.grid_service-elem {
  grid-template-columns: repeat(3, minmax(30%, 1fr));
}

@media all and (max-width: 768px) {
  .grid_service-elem {
    grid-template-columns: repeat(2, minmax(45%, 1fr));
  }
}

@media all and (max-width: 576px) {
  .grid_service-elem {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    grid-gap: 10px;
  }
}

.grid_category {
  grid-template-columns: repeat(2, 1fr);
}

@media all and (max-width: 1024px) {
  .grid_category {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 420px) {
  .grid_category {
    grid-gap: 10px;
  }
}

.nav {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: -10px;
  margin-right: -10px;
}

.nav__link {
  color: #FAFAFA;
  padding: 10px;
  line-height: 1.2;
}

.nav__link:hover {
  text-decoration: none;
  color: #9EB6B6;
}

.nav__link_additional {
  color: #9EB6B6;
}

.nav__link_additional:hover {
  color: #FAFAFA;
}

.nav__link--active {
  color: #E2B359;
}

.nav__item {
  color: #FAFAFA;
  line-height: 1.2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav__children {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  background: #1E282D;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav__children--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__children-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(180px, auto));
}

.nav__children-title {
  font-weight: 700;
  color: #9EB6B6;
  margin-bottom: 15px;
}

.nav__children-title_link {
  color: #FAFAFA;
}

.nav__children-item {
  display: block;
  color: #9EB6B6;
  margin-bottom: 15px;
}

.nav__children-item:last-child {
  margin-bottom: 0;
}

@media all and (max-width: 1024px) {
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .nav__link_parent {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__link_parent:after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 20px;
    background: url("../img/icon/chevron.svg") no-repeat center right/contain;
  }
  .nav__children {
    position: unset;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    z-index: 11;
    width: auto;
  }
}

@media all and (max-width: 1024px) {
  .nav_main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.nav_additional {
  padding: 0 20px;
  margin: 0;
}

@media all and (max-width: 1024px) {
  .nav_additional {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 30px 0 0;
    margin-top: 30px;
    border-top: 1px solid #1E282D;
  }
}

.nav_additional-footer {
  padding: 0 20px;
  margin: 0;
}

@media all and (max-width: 768px) {
  .nav_additional-footer {
    padding: 20px 0 0;
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media all and (max-width: 1024px) {
  .nav_desktop-only {
    display: none;
  }
}

.form {
  max-width: 850px;
}

.form__row {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, minmax(140px, 1fr));
}

.form__row_send {
  grid-template-columns: repeat(2, minmax(140px, 1fr)) 180px;
}

.form__row_subs {
  grid-template-columns: 1fr 220px;
  max-width: 600px;
}

.form__line {
  width: 100%;
}

@media all and (max-width: 768px) {
  .form__row_send {
    grid-template-columns: repeat(2, minmax(140px, 1fr));
  }
  .form__row_subs {
    grid-template-columns: 1fr;
  }
  .form__row-btn {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media all and (max-width: 576px) {
  .form__row_send {
    grid-template-columns: 1fr;
  }
  .form__row-btn {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.contact-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.contact-list__heading {
  font-weight: 400;
  color: #9EB6B6;
}

@media all and (max-width: 1024px) {
  .contact-list {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .contact-list__heading {
    padding-top: 15px;
  }
}

.header {
  position: relative;
}

.header__additional {
  padding: 15px 0;
}

.header__main {
  position: relative;
  padding: 10px 0;
  border-top: 1px solid #1E282D;
  border-bottom: 1px solid #1E282D;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__burger {
  cursor: pointer;
  fill: #FAFAFA;
  display: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__burger:hover {
  fill: #E2B359;
}

.header__logo {
  padding-bottom: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__logo:hover {
  -webkit-filter: opacity(0.75);
  filter: opacity(0.75);
}

.header__callbacks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__callbacks-item {
  margin-right: 15px;
}

.header__callbacks-item:last-child {
  margin-right: 0;
}

.header__link {
  color: #FAFAFA;
}

.header__link:hover {
  text-decoration: none;
}

@media all and (max-width: 1024px) {
  .header__burger {
    display: inline-block;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin-right: 30px;
  }
  .header__main {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #2F3B41;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 380px;
    padding: 30px 0;
    overflow: auto;
  }
  .header__main--active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-filter: drop-shadow(2px 4px 14px #1E282D);
    filter: drop-shadow(2px 4px 14px #1E282D);
  }
  .header__callbacks {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .header__menu_on-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.content__block {
  margin-bottom: 15px;
}

.content__block:last-child {
  margin-bottom: 0;
}

.content__request {
  background: #434B50;
  padding: 45px;
}

.content__request_cta {
  background: #054B4B url("../img/icon/folder-man.svg") no-repeat calc(100% - 30px) center/contain;
  background-position-x: calc(100% - 30px);
}

.content__error-heading {
  font-size: 18px;
  line-height: 1.4;
}

.content__contact-heading {
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #9EB6B6;
  margin-bottom: 10px;
}

.content__image {
  background: #434B50 no-repeat center/cover;
  max-width: 100%;
}

.content__image_circle {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  margin-left: auto;
  margin-bottom: 30px;
}

.content__image_ellipse {
  width: 300px;
  height: 350px;
  border-radius: 150px;
}

.content__image_arch {
  width: 300px;
  height: 430px;
  border-radius: 150px 150px 0px 0px;
  margin-top: 30px;
}

@media all and (max-width: 1440px) {
  .content__request_cta {
    padding-right: 320px;
    background-size: 260px;
    background-position-x: calc(100% - 30px);
  }
  .content__image_circle {
    width: 160px;
    height: 160px;
  }
}

@media all and (max-width: 1024px) {
  .content__request_cta {
    padding-right: 45px;
    background-image: unset;
  }
  .content__image_circle {
    width: 120px;
    height: 120px;
  }
  .content__image_arch {
    height: 340px;
  }
  .content__image_ellipse {
    height: 280px;
  }
}

@media all and (max-width: 768px) {
  .content__image_arch {
    height: 400px;
  }
  .content__image_ellipse {
    height: 400px;
  }
  .content__request_questionary {
    padding: 0;
    background: inherit;
  }
  .content__request-form-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 25px;
  }
  .content__contact-mobile {
    margin-top: 15px;
    padding-top: 30px;
    border-top: 1px solid #1E282D;
  }
}

@media all and (max-width: 576px) {
  .content__image_arch {
    height: 320px;
  }
  .content__image_ellipse {
    height: 320px;
  }
  .content__request {
    padding: 30px;
  }
  .content__request_questionary {
    padding: 0;
  }
  .content__scroll {
    max-width: 100%;
    overflow: auto;
  }
  .content__scroll-inside {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 420px) {
  .content__image_circle {
    position: relative;
    z-index: 11;
    margin-left: 140px;
    margin-bottom: 0;
  }
  .content__image_ellipse {
    width: 240px;
    height: 320px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  .content__request {
    padding: 15px;
  }
  .content__request_questionary {
    padding: 0;
  }
  .content__request-form-btn {
    padding-top: 10px;
  }
}

.content_filters-tab {
  position: relative;
  background: no-repeat center / cover;
}

.content_filters-tab__content {
  width: 100%;
  padding: 100px 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
}

.content_filters-tab__heading {
  width: 460px;
  max-width: 100%;
  margin-bottom: 30px;
}

.content_filters-tab__slider {
  position: relative;
}

.content_filters-tab__slider:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 59, 65, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.content_filters-tab__slide {
  height: 450px;
  max-height: 100vh;
  background: no-repeat center / cover;
}

@media all and (max-width: 576px) {
  .content_filters-tab__content {
    padding: 45px 0;
  }
  .content_filters-tab__heading {
    font-size: 24px;
  }
}

.footer {
  border-top: 1px solid #1E282D;
}

.footer__main-info {
  padding: 60px 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 8fr 4fr;
}

.footer__contact {
  grid-column-start: 1;
  grid-column-end: 2;
}

.footer__contact-heading {
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #9EB6B6;
  margin-bottom: 10px;
}

.footer__contact-link {
  color: #FAFAFA;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 2;
}

.footer__menu-additional {
  grid-column-start: 1;
  grid-column-end: 2;
}

.footer__logo {
  padding-bottom: 4px;
}

.footer__form-col {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.footer__form {
  background: #434B50;
  padding: 30px;
}

.footer__form-submit {
  width: 100%;
  margin-bottom: -55px;
}

.footer__link {
  color: #9EB6B6;
}

.footer__technical-info {
  border-top: 1px solid #1E282D;
  padding: 15px 0;
  font-size: 10px;
  line-height: 1.2;
  color: #9EB6B6;
}

@media all and (max-width: 1024px) {
  .footer__main-info {
    grid-template-columns: 1fr 1fr;
  }
  .footer__menu {
    grid-column-start: 1;
    grid-column-end: 3;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__menu-additional {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer__form-col {
    grid-row-start: 2;
    grid-row-end: 4;
  }
}

@media all and (max-width: 576px) {
  .footer__contact {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer__form-col {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: auto;
  }
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tabs__heading {
  font-size: 16px;
  margin-right: 30px;
}

.tabs__item {
  padding: 0 20px;
  line-height: 28px;
  border-radius: 2px;
  background-color: #054B4B;
  white-space: nowrap;
  margin-right: 15px;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.tabs__item:hover, .tabs__item:focus {
  opacity: 1;
}

.tabs__item:last-child {
  margin-right: 0;
}

.tabs__item--active {
  opacity: 1;
}

@media all and (max-width: 576px) {
  .tabs {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: auto;
  }
}

.tabs-content {
  display: none;
}

.tabs-content_has-slider {
  opacity: 0;
}

.tabs-content--active {
  display: block;
}

.tabs-content--show {
  opacity: 1;
}

.tags {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.tags__item {
  text-align: center;
  border-radius: 2px;
  background: #434B50;
  padding: 0 8px;
  line-height: 24px;
  white-space: nowrap;
}

.tags__item:hover {
  text-decoration: none;
  background: #054B4B;
  color: #FAFAFA;
}

.tags-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tags-heading__name {
  margin-right: 30px;
  margin-bottom: 10px;
}

.tags-heading__link {
  margin-bottom: 10px;
}

.filter-container {
  border-bottom: 1px solid #1E282D;
}

.filters {
  display: grid;
}

.filters__item {
  position: relative;
  padding: 15px 30px;
  background-color: #FAFAFA;
  border: 1px solid #E4E5E5;
  border-radius: 2px;
}

.filters__item:after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/icon/chevron.svg") no-repeat center/contain;
  position: absolute;
  right: 10px;
  top: calc(50% - 12px);
}

.filters__heading {
  padding-right: 10px;
  color: #9EB6B6;
  font-size: 13px;
  line-height: 16px;
}

.filters__heading--has-value {
  color: #2F3B41;
}

.filters__options {
  display: none;
  color: #2F3B41;
  position: absolute;
  top: 60px;
  left: 0;
  min-width: 100%;
  z-index: 11;
}

.filters__options--active {
  display: block;
  background: #FAFAFA;
  border-radius: 2px;
  padding: 15px;
}

.filters_index {
  grid-gap: 0;
  grid-template-columns: repeat(3, minmax(200px, auto)) 1fr;
}

.filters_inside {
  grid-gap: 10px;
  grid-template-columns: repeat(4, minmax(140px, auto)) 1fr 180px 110px;
}

.filters_inside__btn {
  width: 100%;
}

@media all and (max-width: 1440px) {
  .filters_inside {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 1024px) {
  .filters_inside {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 768px) {
  .filters_inside {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 576px) {
  .filters_inside {
    grid-template-columns: 1fr;
  }
}

.modal {
  display: none;
  background: #2F3B41;
  border: 8px solid #434B50;
}

.modal.fancybox__content {
  color: #FAFAFA;
  background: #2F3B41;
}

.modal.fancybox__content .carousel__button.is-close {
  top: 0;
  right: 0;
  border-radius: 0;
  background: #434B50;
}

.modal_callback {
  width: 460px;
  max-width: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

@media all and (max-width: 1440px) {
  .d-xl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
}

@media all and (max-width: 1024px) {
  .d-lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
}

@media all and (max-width: 768px) {
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
}

@media all and (max-width: 576px) {
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
}

@media all and (max-width: 420px) {
  .d-xs-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-xs-none {
    display: none;
  }
  .d-xs-block {
    display: block;
  }
}
