.project-preview_full{
    &__heading{
        font-size: 32px;
        margin-bottom: $spacer;
    }
    &__content{
        padding-left: $spacer;
    }
    &__intro{
        color: $secondary;
        margin-bottom: map-get($map: $spacers, $key: 2);
    }
    &__chars{
        display: grid;
        grid-gap: map-get($map: $spacers, $key: 1);
        color: $secondary;

        grid-template-columns: repeat(3, minmax(auto, 120px));
    }
}

// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .project-preview_full{
        &__content{
            padding-left: 0px;
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .project-preview_full{
        &__heading{
            font-size: 18px;
        }
        &__chars{
            grid-template-columns: repeat(2, minmax(auto, 120px));
        }
    }
}
// < 420px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
}