.project-details_inside{
    margin-top: $spacer;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;

    &__sidebar{
        position: sticky;
        left: 0;
        top: $spacer;
        
        padding: $spacer;
        background-color: $black-lighter;
    }
    &__content{
        padding: $spacer;
        background-color: $black-lighter;
    }
    &__map{
        background-color: $black-darker;
        height: 200px;
    }
    &__apart{
        display: grid;
        grid-gap: map-get($map: $spacers, $key: 1);
        grid-template-columns: 1fr repeat(3, 180px);
        align-items: center;

        &_toggle{
            grid-template-columns: 1fr repeat(3, 180px) 45px;
            border-bottom: 1px solid $border-color;
            margin-bottom: $spacer-gutter;
            padding-bottom: $spacer-gutter;

            &:last-child{
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
    &__form{
        padding: $spacer 0;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }
    &__dev{
        margin-top: $spacer;
        padding-top: $spacer;
        border-top: 1px solid $border-color;
        
        display: grid;
        grid-gap: $spacer/2;
        grid-template-columns: 60px 1fr;
        align-items: center;

        &:hover{
            text-decoration: none;
            color: $white;
        }
        &-name{
            margin-bottom: $spacer-gutter/2;
            line-height: $line-height-base;
        }
        &-intro{
            line-height: $line-height-base;
        }
    }
}