.project-details_inside{
    margin-top: $spacer;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;

    &__sidebar{
        position: sticky;
        left: 0;
        top: $spacer;
        
        padding: $spacer;
        background-color: $black-lighter;
    }
    &__mobile-price{
        padding: $spacer;
        background-color: $black-lighter;
    }
    &__content{
        padding: $spacer;
        background-color: $black-lighter;
    }
    &__map{
        background-color: $black-darker;
        height: 200px;
    }
    &__apart{
        display: grid;
        grid-gap: map-get($map: $spacers, $key: 1);
        grid-template-columns: 1fr repeat(3, 180px);
        align-items: center;

        &_toggle{
            grid-template-columns: 1fr repeat(3, 180px) 45px;
            border-bottom: 1px solid $border-color;
            margin-bottom: $spacer-gutter;
            padding-bottom: $spacer-gutter;

            &:last-child{
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
    &__form{
        padding: $spacer 0;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }
    &__dev{
        margin-top: $spacer;
        padding-top: $spacer;
        border-top: 1px solid $border-color;
        
        display: grid;
        grid-gap: $spacer/2;
        grid-template-columns: 60px 1fr;
        align-items: center;

        &:hover{
            text-decoration: none;
            color: $white;
        }
        &-name{
            margin-bottom: $spacer-gutter/2;
            line-height: $line-height-base;
        }
        &-intro{
            line-height: $line-height-base;
        }
    }
}

// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .project-details_inside{
        &__sidebar{
            padding: map-get($map: $spacers, $key: 1);
        }
        &__dev{
            grid-template-columns: 40px 1fr;
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .project-details_inside{
        &__apart{
            grid-template-columns: 1fr 80px repeat(2, 120px);
    
            &_toggle{
                grid-template-columns: 1fr 80px repeat(2, 120px) 45px;
            }
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .project-details_inside{
        &__dev{
            grid-template-columns: 60px 1fr;
        }

        &__apart{
            grid-template-columns: repeat(3, 1fr);
    
            &_toggle{
                grid-template-columns: 1fr repeat(3, 80px) 45px;
            }
        }
    }
}
// < 420px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .project-details_inside{
        &__apart{
            grid-template-columns: repeat(2, 1fr);
    
            &_toggle{
                grid-template-columns: 1fr repeat(2, 180px);
            }
        }
    }
}