.project-category{
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image content";

    min-height: 200px;

    &__content{
        background: $black-lighter;
        padding: map-get($map: $spacers, $key: 2);
        grid-area: content;
    }
    &__image{
        background: no-repeat center / cover;
        grid-area: image;
    }
    &__heading{
        line-height: $line-height-base;
        font-weight: $font-weight-bold;
        margin-bottom: $spacer-gutter;
    }
    &__object{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;

        &-item{
            // color: $light;
            // text-decoration: underline;
            margin-right: $spacer-gutter;
        }
        &-count{
            color: $secondary;
            font-size: 10px;
            white-space: nowrap;
        }

        &:hover, &:focus{
            text-decoration: none;
        }
    }
    // Variables
    &_reverse{
        grid-template-areas: "content image";
    }
}

// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .project-category{
        &__object{
            flex-wrap: wrap;
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .project-category{
        &:nth-child(2n+1){
            grid-template-areas: "image content";
        }
        &:nth-child(2n){
            grid-template-areas: "content image";
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .project-category{
        grid-template-columns: 1fr;
        grid-template-areas: 
                            "image"
                            "content";

        &__image{
            height: 180px;
        }
    }
}
// < 420px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
}