.filters_inside{
    grid-gap: $spacer-gutter;
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));

    &__btn{
        width: 100%;

        &.disabled{
            border-color: $black-lighter;
            background-color: $black-lighter;
            color: $secondary;
            cursor: not-allowed;
        }
    }
}

// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .filters_inside{
        grid-template-columns: repeat(3, 1fr);
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .filters_inside{
        grid-template-columns: repeat(3, 1fr);
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .filters_inside{
        grid-template-columns: repeat(2, 1fr);
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .filters_inside{
        grid-template-columns: 1fr;
    }
}
// < 420px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
}