.nav{
    flex-grow: 1;
    margin-left: -($spacer-gutter);
    margin-right: -($spacer-gutter);

    &__link{
        color: $body-color;
        padding: $spacer-gutter;
        line-height: $line-height-heading;

        &:hover{
            text-decoration: none;
            color: $secondary;
        }

        &_additional{
            color: $secondary;

            &:hover{
                color: $body-color;
            }
        }

        // JS State
        &--active{
            color: $gold;
        }
    }

    &__item{
        color: $body-color;
        line-height: $line-height-heading;

        display: inline-flex;
    }
    &__children{
        display: none;

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 999;
        transform: translateY(100%);

        background: $black-darker;
        width: 100%;
        padding-top: $spacer;
        padding-bottom: $spacer;

        // JS Status
        &--active{
            display: flex;
        }
    }
    &__children-grid{
        display: grid;
        grid-gap: map-get($map: $spacers, $key: 2);
        grid-template-columns: repeat(auto-fill, minmax(180px, auto));
    }
    &__children-title{
        font-weight: $font-weight-bold;
        color: $secondary;
        margin-bottom: map-get($map: $spacers, $key: 1);

        &_link{
            color: $white;
        }
    }
    &__children-item{
        display: block;
        color: $secondary;
        margin-bottom: map-get($map: $spacers, $key: 1);

        &:last-child{
            margin-bottom: 0;
        }
    }
}

// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .nav{
        // display: grid;
        // grid-template-columns: 1fr;
        // grid-gap: $spacer-gutter;

        // margin: 0;

        &__item{
            display: flex;
            flex-wrap: wrap;
        }
        &__link{
            &_parent{
                flex: 0 0 100%;

                display: flex;
                align-items: center;

                &:after{
                    content: '';
                    display: inline-block;

                    width: 30px;
                    height: 20px;

                    background: url("../img/icon/chevron.svg") no-repeat center right/ contain;
                }
            }
        }
        &__children{
            position: unset;
            transform: unset;
            z-index: 11;

            width: auto;
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
}
// < 420px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
}