mixin sliderRow(object)
    if object.active 
        .js-slide-item.slider__item.slider__item--active
            .slider__text=object.text
            .slider__photo
                img.slider__img(data-src=object.img, alt="", )
    else
        .js-slide-item.slider__item
            .slider__text=object.text
            .slider__photo
                img.slider__img(data-src=object.img, alt="", )