.list_recommend{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;

    margin-bottom: $spacer/2;

    &__heading{
        color: $gold;
    }
    &__sep{
        flex-grow: 1;
        border-bottom: 1px dotted $secondary;
        margin: 0 map-get($map: $spacers, $key: 1);
    }
    &__count{
        color: $secondary;
    }
}