footer.footer
    .container
        .footer__main-info
            .footer__menu
                a.footer__logo.logo(href="index.html")
                    img.img-fluid(src="../img/global/logo.svg", alt="logo")
                nav.nav.nav_additional-footer
                    for i in linksMain
                        +navLink(i.link, i.name, i.active,'nav__link_additional')
            .footer__contact
                .row
                    .col-6.col-lg-12.mb-2.mb-lg-1
                        .footer__contact-heading ТЕЛЕФОН
                        a(href=tel.link).text-bolder.footer__contact-link=tel.item
                    .col-6.col-lg-12.mb-2.mb-lg-1
                        .footer__contact-heading E-MAIL
                        a(href=email.link).text-bolder.footer__contact-link=email.item
                    .col-6.col-lg-12.mb-2.mb-lg-1
                        .footer__contact-heading АДРЕС 
                        span.text-bolder=address
                    .col-6.col-lg-12.mb-2.mb-lg-0
                        .footer__contact-heading ЧАСЫ РАБОТЫ
                        ul.text-bolder.footer__contact-list
                            li пн-пт 08.00 - 17.00 
                            li сб 10.00 - 16.00
                            li воскресенье — выходной
            .footer__menu-additional
                nav.nav.nav_footer
                    for i in linksAdditional
                        +navLink(i.link, i.name, i.active,'nav__link_additional')
            .footer__form-col
                .footer__form
                    p.h3 Есть вопросы?
                    form.form
                        input.input.input_line(type="text",placeholder="Ваше имя", name="")
                        input.input.input_line(type="tel",placeholder="+7", name="")
                        textarea.input.input_line(placeholder="Say «hello»", name="")
                        button.btn.btn_action.footer__form-submit Отправить запрос 
        .footer__technical-info
            .row 
                .col-6
                    span © 2021 ДЛК ГРУПП
                .col-6.text-right
                    a(href="#",class="footer__link") Сайт разработан websoho.ru
.modal.modal_callback#callback 
    p.h4 Хотите узнать больше?
    p.mb-2.text-secondary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida aliquam morbi lacinia maecenas
    form.form
        input.form__line.input.input_line(type="tel",placeholder="+7", name="")
        button.form__line.btn.btn_action Заказать звонок 
.modal.modal_callback#order 
    p.h4 Хотите узнать больше?
    p.mb-2.text-secondary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida aliquam morbi lacinia maecenas
    form.form
        input.form__line.input.input_line(type="text",placeholder="Ваше имя", name="")
        input.form__line.input.input_line(type="tel",placeholder="+7", name="")
        button.form__line.btn.btn_action Оставить заявку 