.tabs{
    display: flex;
    flex-wrap: wrap;

    &__heading{
        font-size: map-get($map: $font-size, $key: lg);
        margin-right: $spacer;
    }
    &__item{
        padding: 0 20px;
        line-height: 28px;
        border-radius: 2px;
        background-color: $green;
        white-space: nowrap;
        margin-right: $spacer/2;

        opacity: .5;
        cursor: pointer;
        transition: .4s;

        &:hover, &:focus{
            opacity: 1;
        }

        &:last-child{
            margin-right: 0;
        }

        &--active{
            opacity: 1;
        }
    }
}

// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .tabs{
        flex-wrap: nowrap;
        overflow: auto;
    }
}
// < 420px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
}