extends ../blocks/main.pug

block variables
    - var pageTitle = "Ошибка 404"
    
block content
    section.content.pt-4.pb-4.bg-darker
        .container 
            .row.align-items-center.justify-content-around
                .col-5
                    p.content__error-heading Страница, которую вы пытаетесь найти, не существует или была перемещена.
                    p.mt-2.mb-2.text-bold Код ошибки 404
                    p.text-secondary Вот некоторые ссылки, с которых можно начать:
                    ul
                        li
                            a.text-secondary(href="index.html") Главная
                        li
                            a.text-secondary(href="contact.html") Контакты
                        li
                            a.text-secondary(href="#") Аренда недвижимости
                        li
                            a.text-secondary(href="#") Продажа недвижимости
                .col-4 
                    img.img-fluid(src="../img/error.svg" alt=pageTitle title=pageTitle)
