extends ../blocks/main.pug

block variables
    - var pageTitle = "Ошибка 404"
    
block content
    section.content.pt-4.pb-4.bg-darker
        .container 
            .row.align-items-center.justify-content-around.justify-content-lg-between.flex-sm-column-reverse
                .col-5.col-lg-6.col-md-7.col-sm-12.mt-sm-3
                    p.content__error-heading Страница, которую вы&nbsp;пытаетесь найти, не&nbsp;существует или&nbsp;была перемещена.
                    p.mt-2.mb-2.text-bold Код ошибки 404
                    p.text-secondary Вот некоторые ссылки, с которых можно начать:
                    ul
                        li
                            a.text-secondary(href="index.html") Главная
                        li
                            a.text-secondary(href="contact.html") Контакты
                        li
                            a.text-secondary(href="#") Аренда недвижимости
                        li
                            a.text-secondary(href="#") Продажа недвижимости
                .col-4.col-lg-5.col-sm-12
                    img.img-fluid(src="../img/error.svg" alt=pageTitle title=pageTitle)
