extends ../blocks/main.pug

block variables
    - var pageTitle = "Контакты"
    - var phones = [{'name':'Для партнеров','item':'8 (812) 234 44 12','link':'tel:+7122344412'},{'name':'По вопросам продажи недвижимости','item':'8 (812) 234 44 12','link':'tel:+7122344412'},{'name':'По вопросам сотрудничества','item':'8 (812) 234 44 12','link':'tel:+7122344412'}]
    - var emails = [{'name':'Для клиентов','item':'service@dlk-investgroup.ru','link':'tel:mailto:service@dlk-investgroup.ru'},{'name':'Для партнеров','item':'partners@dlk-investgroup.ru','link':'mailto:partners@dlk-investgroup.ru'},{'name':'По вопросам продажи недвижимости','item':'sale@dlk-investgroup.ru','link':'mailto:sale@dlk-investgroup.ru'}]

mixin listContact(name, item, link, className)
    dt.contact-list__heading=name
    dd 
        a(href=link,class=className)=item

block content
    section.pt-4.pb-4.bg-image(style="background-image:url('../img/bg/contacts.png');")
        .container.text-center
            h1.mb-2 Контакты DLK Group
            p.lead Единый телефон для связи 
                a(href=tel.link).text-bold=tel.item
            a.btn.btn_action(href="javascript;" data-fancybox data-src="callback") Заказать звонок
    section.pt-4.pb-4
        .container
            .row
                .col-6.col-sm-12.mb-sm-3
                    p.h5.mb-md-0 Телефоны
                    dl.contact-list.mt-2.mt-lg-0
                        for i in phones
                            +listContact(i.name, i.item, i.link)
                .col-6.col-sm-12
                    p.h5.mb-md-0 E-mail
                    dl.contact-list.mt-2.mt-lg-0
                        for i in emails
                            +listContact(i.name, i.item, i.link, 'text-underline')