extends ../blocks/main.pug

block variables
    - var pageTitle = "Главная страницы"
    - var form_inputs = [{"label":"Ваши Ф.И.О.","type":"text"},{"label":"Название агентства/частное лицо","type":"text"},{"label":"Контактный телефон","type":"tel","placeholder":"+7"},{"label":"E-mail","type":"email"},{"label":"ФИО клиента","type":"text"},{"label":"Контакты клиента","type":"text"},{ "label":"Запрос клиента","type":""}]

block content
    p content