html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Text Page

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet")
        
        link(href='./css/framework.css', rel='stylesheet')
        link(href='./css/main.css', rel='stylesheet')

    body
        script(src="./js/jquery.min.js")
        include ../blocks/header/header.pug
        main 
            section
                p page content 
            aside
                p links
        include ../blocks/footer/footer.pug
        script(src="./js/app.min.js")