.modal{
    display: none;
    background: $black;
    border: 8px solid $black-lighter;

    // Fancybox 4
    &.fancybox__content{
        color: $white;
        background: $black;

        .carousel__button.is-close{
            top: 0;
            right: 0;
            border-radius: 0;
            background: $black-lighter;
        }
    }
}

.modal_callback{
    width: 460px;
    max-width: 100%;
}