.tags-heading{
    display: flex;
    align-items: center;
    flex-wrap: wrap;


    &__name{
        margin-right: $spacer;
        margin-bottom: $spacer-gutter;
    }
    &__link{
        margin-bottom: $spacer-gutter;
    }
}