section.pt-2.pb-2.bg-darker
    .container
        .tags-heading.mb-1
            p.text-uppercase.h5.text-secondary.mb-0 Квартиры по районам
            a.link-arrow.tags-heading__link(href="#") 
                <svg class="link-arrow__icon" width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.61405 7.96572e-06L5.52642 4.49998L0.61405 9L0 8.43743L4.29834 4.49998L0 0.5625L0.61405 7.96572e-06ZM4.08758 0L9 4.49998L4.08758 9L3.47358 8.43743L7.77192 4.49998L3.47358 0.5625L4.08758 0Z" />
                </svg>
                span.link-arrow__body Все районы
        .tags.mb-3
            a.tags__item(href="#") Адлер
            a.tags__item(href="#") Бытха
            a.tags__item(href="#") Вардане
            a.tags__item(href="#") Сочи
            a.tags__item(href="#") Лазаревское
            a.tags__item(href="#") Новый Сочи
            a.tags__item(href="#") Туапсе
            a.tags__item(href="#") Кропка
            a.tags__item(href="#") Азовское
            a.tags__item(href="#") Великовское
            a.tags__item(href="#") Лазаревское
            a.tags__item(href="#") Новый Сочи
            a.tags__item(href="#") Туапсе
            a.tags__item(href="#") Кропка
            a.tags__item(href="#") Азовское
            a.tags__item(href="#") Великовское
        .tags-heading.mb-1
            p.text-uppercase.h5.text-secondary.mb-0 Квартиры в регионах россии
            a.link-arrow.tags-heading__link(href="#") 
                <svg class="link-arrow__icon" width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.61405 7.96572e-06L5.52642 4.49998L0.61405 9L0 8.43743L4.29834 4.49998L0 0.5625L0.61405 7.96572e-06ZM4.08758 0L9 4.49998L4.08758 9L3.47358 8.43743L7.77192 4.49998L3.47358 0.5625L4.08758 0Z" />
                </svg>
                span.link-arrow__body Все регионы
        .tags
            a.tags__item(href="#") Адлер
            a.tags__item(href="#") Бытха
            a.tags__item(href="#") Вардане
            a.tags__item(href="#") Сочи
            a.tags__item(href="#") Лазаревское
            a.tags__item(href="#") Новый Сочи
            a.tags__item(href="#") Туапсе
            a.tags__item(href="#") Кропка
            a.tags__item(href="#") Азовское
            a.tags__item(href="#") Великовское