.header {
    color: $white;
    line-height: 1.2em;

    .menu__logo {
        max-width: 115px;
    }
    &__bottom{
        border-top: 1px solid $border;
    }
    &__top,
    &__bottom {
        padding: 15px 0;
    }

    .menu {
        display: flex;
        align-items: center;

        &__btns {
            display: flex;
            align-items: center;
            margin-left: auto;
            flex-shrink: 0;
        }

        &>*:last-child {
            margin-left: auto;
        }
        &>*:first-child {
            margin-right: 30px;
        }
        &>*:not(:last-child):not(:first-child) {
            margin-right: 20px;
        }
    }

    &__bottom {
        .menu {
            margin-left: -10px;
            .nav__link{
                color:$white;
            }
        }
    }
    .link{
        margin: 0 5px;
    }
}

@media screen and (min-width:1024px) {
    .header{
        .menu__tel,
        .menu__burger{
            display: none;
        }
    }
}
@media screen and (max-width:1023px) {
    .header{
        &__bottom,
        .menu__links{
            display: none;
        }
  }
}
@media screen and (max-width:599px) {
    .menu__tel{
            display: none;
    }
}
@media screen and (max-width:470px) {
    .call-order{
        display: none;
    }
}