.content_filters-tab{
    position: relative;
    background: no-repeat center / cover;

    &__content{
        width: 100%;
        padding: 100px 0;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 11;
    }
    &__heading{
        width: 460px;
        max-width: 100%;
        margin-bottom: map-get($map: $spacers, $key: 2);
    }

    &__slider{
        position: relative;

        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $black, $alpha: 0.7);

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
    &__slide{
        // padding: 150px 0;
        height: 450px;
        max-height: 100vh;
        background: no-repeat center / cover;
    }
}

// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content_filters-tab{
        &__content{
            padding: map-get($map: $spacers, $key: 3) 0;
        }
        &__heading{
            font-size: 24px;
        }
    }
}
// < 420px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
}