.form{
    max-width: 850px;
    
    &__row{
        display: grid;
        grid-gap: map-get($map: $spacers, $key: 1);
        grid-template-columns: repeat(3, minmax(140px, 1fr));

        &_send{
            grid-template-columns: repeat(2, minmax(140px, 1fr)) 180px;
        }
        &_subs{
            grid-template-columns: 1fr 220px;
            max-width: 600px;
        }
    }
    &__line{
        width: 100%;
    }
    &__input-container{
        position: relative;
    }
    &__error{
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
    }
}

// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .form{
        &__row{
            &_send{
                grid-template-columns: repeat(2, minmax(140px, 1fr));
            }
            &_subs{
                grid-template-columns: 1fr;
            }
        }
        &__row-btn{
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .form{
        &__row{
            &_send{
                grid-template-columns: 1fr;
            }
        }
        &__row-btn{
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
}
// < 420px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
}